<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db2c58d7-9d50-44bd-b55c-31fe3cfaa577/resourcegroups/P2FixAnAppDotNetCode20230201125853ResourceGroup/providers/Microsoft.Web/sites/P2FixAnAppDotNetCode20230201130151</ResourceId>
    <ResourceGroup>P2FixAnAppDotNetCode20230201125853ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://p2fixanappdotnetcode20230201130151.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>cc3bd462-2245-4d45-b72e-465d50fa608c</ProjectGuid>
    <MSDeployServiceURL>p2fixanappdotnetcode20230201130151.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>P2FixAnAppDotNetCode20230201130151</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$P2FixAnAppDotNetCode20230201130151</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>